.DS_Store
.idea
assets/Thumbs.db
assets/textures/Thumbs.db
Huitzilopochtli.app
build/Project-Sacrifice.xcodeproj/xcuserdata
build/Project-Sacrifice.xcodeproj/project.xcworkspace/xcuserdata
build/build
